<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG.SUSTAINABILITY"/>
      <class name="TestNG.login"/>
      <class name="TestNG.Gift"/>
      <class name="TestNG.About"/>
      <class name="TestNG.Help"/>
      <class name="TestNG.Shop"/>
      <class name="TestNG.view_coffee"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
